<div class="jumbotron">
  <h1>Welcome to <span class="blue">G</span><span class="red">o</span><span class="gold">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span> Room Sync!</h1>
  <p><%= link_to "Sign in with Google + Create a New Room", "/auth/google_oauth2" %></p>
</div>
