<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href= "/">Google Sync</a>
  </div>

  <% if current_user %>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/reservations">Reservations</a></li>
      <li><a href='/rooms'>Rooms</a></li> 
    </ul>
  <% end %>
</nav>